/* Breeze Dark theme for Eric6
 *
 * Theme Notes:
 *  - This theme is designed to work on top of the Fusion client style.
 */

QCheckBox, QRadioButton {
    background:#484848;
}

QProgressBar:horizontal {
    padding: 1px;
    text-align: center;
}
QProgressBar::chunk:horizontal {
    background: #5cad39;
}

* { 
    selection-background-color: #5cad39;
    selection-color: #ffffff;
    
    activate-on-singleclick: 0;
}
